<div class="post-mailchimp">
    <div class="main-content-wrap mailchimp-wrap">
        <h3>让有趣易懂的知识主动找到你</h3>
        <p>订阅我的Email半月刊，让我们共同学习、成长。绝无广告！</p>
        <form action="//leapoahead.us8.list-manage.com/subscribe/post?u=f3a6e2f843ac1be03e00f7bed&amp;id=58e28559b1" method="post" name="mc-embedded-subscribe-form" class="mailchimp-form" target="_blank" novalidate>
            <label for="mce-EMAIL" style="display: none">Email地址</label>
            <input type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="您常用的Email地址" class="mailchimp-input">
            <input type="submit" value="订阅" name="subscribe" id="mc-embedded-subscribe" class="mailchimp-input mailchimp-subscribe">
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_f3a6e2f843ac1be03e00f7bed_58e28559b1" tabindex="-1" value=""></div>
        </form>
    </div>
</div>