<header id="header" data-behavior="<%= sidebarBehavior %>">
    <i id="btn-open-sidebar" class="fa fa-lg fa-bars"></i>
    <h1 class="header-title">
        <a class="header-title-link" href="<%- url_for(' ') %>"><%= config.title %></a>
    </h1>
</header>
