.post-actions-wrap {
    height:      60px;
    padding:     0;
    ne-height: 60px;
    clear:       both;

    .post-actions {
        float:        left;
        padding-left: 0;
        margin-top:   0;
        list-style:   none;

        .post-action {
            width:      auto;
            text-align: center;
        }
    }
    // Post's share options
    .post-action-share {
        float: right;
        // On very small screen `.post-actions-nav` will be above `.post-actions-share`
        z-index: map-get($z-indexes, c-post-bottom-bar) + 1;

        .post-action {
            float: right;

            &:nth-child(n + 3) {
                .post-action-btn {
                    margin-right: 15px;
                }
            }
        }
    }
}